.fa-bars{
    margin-left:10px ;
}

.fa-youtube {
    margin-left:15px ;
    display: inline;
    /* font-size: 20px; */
    color: red;
    /* margin-top: 5px; */
}
.iphone {
    padding: 0;
}

.center1{
    float: left;
    width: 700px;
}

.centr2{
    float: right;
    width: 300px;
}

.clr{
    clear: both;
}

.iphone1,
.iphone2,
.iphone3,
    
 

.iphone2 div {
    display: inline-block;
}

.iphone2 {
    margin-left: 300px;
}
.iphone2 div {
    width: 300px;
    padding: 0;
    margin: 0;
}

input {
    width: 260px;
}

.iphone3 {
    margin-left: 200px;
    padding-left:100px ;
   
    

}
header {
    margin-bottom: 20px;
}

.fa-search {
    padding-left: 15px;
    padding-right: 15px;
    /* position: relative; */
    
    
    
}
.logo1{
    position: relative;
    right: 38px;
}

   
  
}
.centr {
    background-color: grey;
    width: 300px;
}

.centr2{
    position: relative;
}

/* .ved2{
    position: absolute;
    left: 0px;
   float: right;
} */

.rasm{
    width: 180px;
    height: 100px;
    
}

.rasm_ucun{
    float: left;
    width: 180px;
}

.text{
    float: right;
    width: 100px;
    margin-top: 10px;

    

}

.small{
    font-size: 10px;
}

.fas, .far{
    color: black;
    
}

.radius{
    border-radius: 50%;
}
li{
    display: inline;
    
}

.fa-vedio,
.fa-bars,
.fa-bell,
.fa-user-cicle{
    margin: 7px;
}

.fa-keyboard{
    position: relative;
    right: 30px;
    top: 2px;
    
    
}

.n1{
    position: relative;
   right: 5px;
    color: grey
}

.n2{
    position: relative;
    left: 140px;
    color: grey;
}

.fa-info-circle{
    color: grey;
}
.fa-toggle-on{
    color: grey;
}

.sub{
    background-color: red;
    font-size: large;
    margin-left: 500px;
    border: 1px solid red;
    position: relative;
    bottom: 55px;
    color: white;
    
}
.icon12{
    margin: 10px;
    background-color: white;
    border: none;
}





    
    





    


/* .iphone2{
    position: absolute;
    top: 20px;
    right: 500px;
    
}

.iphone2 input{
    width: 600px;
    height: 20px;
}
.fa-keyboard{
    position: absolute;
    right: 30px;
    
}
.fa-search{
    position: absolute;
    right: 10px;
    
}


     */
 * {
     /* border: 1px solid red; */
 }
 
   
 

 